<!-- bloque 1 grid-template-columns: 50% 50%; -->

<br>

<div>
    <div class="card-body">
    <h5 class="card-title">Contenido: </h5>
    <table class="table" style="background: white;">

        <thead>
          <tr>
            <th scope="col">Declaración</th>
            <th scope="col-lg">Información</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><a href="cssGrid/#a1">grid-template-columns:</a></td>
            <td>La propiedad grid-template-columns define el nombre de las líneas y las funciones de tamaño de línea de grid columns.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a2">grid-template-rows:</a></td>
            <td>La propiedad grid-template-rows define el nombre de las líneas y las funciones de tamaño de línea de grid rows.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a3">grid-auto-rows:</a></td>
            <td>La propiedad grid-auto-rows de CSS especifíca el tamaño de una nueva fila creada de forma implícita.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a4">gap:</a></td>
            <td>Espacio entre los elementos tanto vertical como horizontal.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a5">column-gap:</a></td>
            <td>Espacio entre las columnas.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a6">row-gap:</a></td>
            <td>Espacio entre las filas.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a7">justify-items:</a></td>
            <td>La propiedad CSS justify-items define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a8">align-items:</a></td>
            <td>La propiedad align-items indica la alineación de un elemento dentro del bloque que lo contiene.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a9">align-self: // justify-self:</a></td>
            <td>La propiedad CSS que alinea los elementos flexibles de la línea flexible actual, reemplazando el valor de align-items.</td>
          </tr>

          <tr>
            <td><a href="cssGrid/#a10">grid-column: // grid-row:</a></td>
            <td>Un grid es una pista vertical en un CSS Grid Layout, y es el espacio entre dos líneas verticales de cuadrícula.</td>
          </tr>

        </tbody>
      </table>     
    </div>   
</div>


<br>
<br>

<hr width=100%>

<section id="a1">
    <h1>grid-template-columns:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color" >
    <h5 class="card-title">grid-template-columns: 50% 50%;</h5>          
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="4">
        .grid {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>

<!-- bloque 2 grid-template-columns: 33% 33% 33%; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-columns: 33% 33% 33%;</h5>      
</div>

<br>

<div>
    <div class="card-body">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="4">
        .grid {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid1">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>



<!-- bloque 4 grid-template-columns: 100px 300px auto; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-columns: 100px 300px auto;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="4">
        .grid {
            display: grid;
            grid-template-columns: 100px 300px auto;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid3">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>


<!-- bloque 9 grid-template-columns: 1fr 1fr 1fr 1fr; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-columns: 1fr 1fr 1fr 1fr;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="4">
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" >
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid8" >    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>



<!-- bloque 10 grid-template-columns: repeat(4, 1fr); -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-columns: repeat(4, 1fr);</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="4">
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" >
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid9" >    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>


<!-- bloque 3 grid-template-rows: 200px 400px; -->

<br>
<br>

<hr width=100%>

<section id="a2">
    <h1>grid-template-rows:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-rows: 200px 400px;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 200px 400px;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid2">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>






<!-- bloque 5 grid-template-rows: auto 300px; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-rows: auto 300px;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: auto 300px;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid4">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>


<!-- bloque 11 grid-template-rows: minmax(20px, auto); -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-template-rows: minmax(20px, auto);</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(20px, auto);
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" >
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid10" >    
            <div>fila con un minimo de 20px</div>
            <div>fila con un minimo de 20px</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>


<!-- bloque 12 grid-auto-rows: 100px; -->

<br>
<br>

<hr width=100%>

<section id="a3">
    <h1>grid-auto-rows:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-auto-rows: 100px;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>


<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="6">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid11" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>



<!-- bloque 6 gap: 1em; -->

<br>
<br>

<hr width=100%>

<section id="a4">
    <h1>gap:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">gap: 1em;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 1em;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid5" style="background: white;">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>





<!-- bloque 7 column-gap: 1em; -->

<br>
<br>

<hr width=100%>

<section id="a5">
    <h1>column-gap:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">column-gap: 1em;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: 50% 50%;
            column-gap: 1em;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid6" style="background: white;">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>



<!-- bloque 8 row-gap: 1em; -->

<br>
<br>

<hr width=100%>

<section id="a6">
    <h1>row-gap:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">row-gap: 1em;</h5>      
</div>

<br>

<div>
    <div class="card-body" id="h1">
    <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="7">
        <div class="grid">    
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
            <div> Lorem... </div>
        </div>
        </textarea>      
    </div>   
</div>


<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="5">
        .grid {
            display: grid;
            grid-template-columns: 50% 50%;
            row-gap: 1em;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid7" style="background: white;">    
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, neque, cupiditate maiores soluta inventore consequuntur animi magnam obcaecati molestias harum voluptatem suscipit reiciendis amet impedit dolorem, nostrum adipisci ex nam.</div>
        </div>        
    </div>
</div>



<!-- bloque 13 justify-items: start;  -->

<br>
<br>

<hr width=100%>

<section id="a7">
    <h1>justify-items:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">justify-items: start; </h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            justify-items: start; 
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid12" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>

<!-- bloque 14 justify-items: center; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">justify-items: center;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            justify-items: center; 
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid13" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>


<!-- bloque 15 justify-items: end; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">justify-items: end;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            justify-items: end; 
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid14" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>


<!-- bloque 16 align-items: start; -->

<br>
<br>

<hr width=100%>

<section id="a8">
    <h1>align-items:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">align-items: start;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            align-items: start; 
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid15" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>


<!-- bloque 17 align-items: center; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">align-items: center;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            align-items: center; 
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid16" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>


<!-- bloque 18 align-items: end; -->

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">align-items: end;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="7">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            align-items: end;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid17" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>



<!-- bloque 19 align-self: start;  align-self: center;  align-self: end; justify-self: start; justify-self: center; justify-self: end; -->

<br>
<br>

<hr width=100%>

<section id="a9">
    <h1>align-self:  //  justify-self:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">align-self: start; //  align-self: center; //  align-self: end; //  justify-self: start; //  justify-self: center; //  justify-self: end;</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="46">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            align-items: end;
        }

        .element1{
            align-self: start;
        }
        
        .element2{
            align-self: center;
        }
        
        .element3{
            align-self: end;
        }

        .element4{
            justify-self: start;
        }
        
        .element5{
            justify-self: center;
        }
        
        .element6{
            justify-self: end;
        }

        .element7{
            justify-self: start;
            align-self: start;
        }
        
        .element8{
            justify-self: center;
            align-self: center;
        }
        
        .element9{
            justify-self: end;
            align-self: end;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid18" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>


<!-- bloque 20 grid-column: n/n;  -->

<br>
<br>

<hr width=100%>

<section id="a10">
    <h1>grid-column:  //   grid-row:</h1>
</section>

<hr width=100%>

<br>
<br>

<div class="card-body color">
    <h5 class="card-title">grid-column: n/n;  //  grid-row: n/n</h5>      
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Html</h5>
        <textarea disabled  style="overflow: hidden" rows="11">
        <div class="grid">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>
        </textarea>      
    </div>   
</div>

<br>

<div>
    <div class="card-body">
        <h5 class="card-title">Css</h5>        
        <textarea disabled  style="overflow: hidden" rows="34">
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            gap: 1em;
            align-items: end;
        }

        .element1{
            grid-column: 1/3;
        }
        
        .element2{
            grid-row: 1/3;
            grid-column: 3/4;
        }
        
        .element3{
            grid-column: 1/3;
            grid-row: 2/5;
        }
        
        .element6{
            grid-column: 1/4; 
        }
        
        .element8{
            grid-column: 2/4; 
        }
        
        .element9{
            grid-column: 1/4;
            grid-row: 7/9;
        }
        </textarea>        
    </div>
</div>

<br>

<div>
    <div class="card-body" style="background: white;">
        <h5 class="card-title">Ejemplo</h5>        
        <div class="grids grid19" style="background: white;">    
            <div class="element1">element1</div>
            <div class="element2">element2</div>
            <div class="element3">element3</div>
            <div class="element4">element4</div>
            <div class="element5">element5</div>
            <div class="element6">element6</div>
            <div class="element7">element7</div>
            <div class="element8">element8</div>
            <div class="element9">element9</div>
        </div>        
    </div>
</div>